{% extends "::base.html.twig" %}
{% import "@App/macros.html.twig" as game %}

{% block title %}
    Game Statistics | Rock, Paper, Scissors, Lizard, Spock
{% endblock title %}

{% block body %}
    <div class="container">
        <figure>
            <img src="{{ asset("bundles/app/images/Banner_10x3_sticker.png") }}" width="500" height="166" class="img-responsive center-block" alt="Rock Paper Scissors Lizard Spock">
        </figure>

        <div class="text-center">
            <a href="{{ path('homepage') }}" role="button" class="btn btn-success btn-lg">Play</a>
        </div>

        <h1>Game Statistics</h1>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 win-cell">
                        <div class="win-count">{{ playerWins }}</div>
                        <p>Your Wins</p>
                    </div>
                    <div class="col-xs-6 win-cell">
                        <div class="win-count">{{ computerWins }}</div>
                        <p>Computer Wins</p>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>You</th>
                        <th>Computer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for choice, counts in plays %}
                        <tr>
                            <th>{{ game.choice_icon(choice, ["fa-lg", "fa-fw"]) }} {{ game.choice_name(choice) }}</th>
                            <td>{{ counts['player'] }}</td>
                            <td>{{ counts['computer'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/components/font-awesome/css/font-awesome.min.css') }}">
    <style>
        .win-cell {
            text-align: center;
            font-weight: bold;
        }

        .win-cell:first-of-type {
            border-right: 1px solid #ddd;
        }

        .win-count {
            font-size: 48pt;
            font-weight: bold;
            padding: 15px;
            margin: 15px;
        }
    </style>
{% endblock stylesheets %}