{% extends "::base.html.twig" %}
{% import "@App/macros.html.twig" as game %}

{% block title %}
    Game Statistics | Rock, Paper, Scissors, Lizard, Spock
{% endblock title %}

{% block body %}
    <div class="container">
        <figure>
            <img src="{{ asset("bundles/app/images/Banner_10x3_sticker.png") }}" width="500" height="166" class="img-responsive center-block" alt="Rock Paper Scissors Lizard Spock">
        </figure>

        <div class="text-center">
            <a href="{{ path('homepage') }}" role="button" class="btn btn-success btn-lg">Play</a>
        </div>

        <h1>Game Statistics</h1>

        <div class="panel panel-default">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>You</th>
                        <th>Computer</th>
                        <th>Win</th>
                        <th>Tie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, round in rounds %}
                        <tr>
                            <th>Round {{ i + 1 }}</th>
                            <td>{{ game.choice_icon(round.playerChoice) }} {{ game.choice_name(round.playerChoice) }}</td>
                            <td>{{ game.choice_icon(round.computerChoice) }} {{ game.choice_name(round.computerChoice) }}</td>
                            <td>{{ round.win == true ? '<i class="fa fa-check-square-o"></i>' : '<i class="fa fa-square-o"></i>' }}</td>
                            <td>{{ round.tie == true ? '<i class="fa fa-check-square-o"></i>' : '<i class="fa fa-square-o"></i>' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/components/font-awesome/css/font-awesome.min.css') }}">
{% endblock stylesheets %}