{% extends "::base.html.twig" %}

{% block title -%}
    Play Rock, Paper, Scissors, Lizard, Spock
{%- endblock title %}

{% block body %}
    <div ng-app="app">
        <div ng-controller="MainController">
            <figure>
                <img src="{{ asset("bundles/app/images/Banner_10x3_sticker.png") }}" width="500" height="166" class="img-responsive center-block" alt="Rock Paper Scissors Lizard Spock">
            </figure>

            {# Show any flash messages #}
            {% include "@App/flash.html.twig" %}

            <div ng-if="!started" id="menu-region" class="text-center" ng-cloak>
                <button type="button" ng-click="start()" class="btn btn-lg btn-success">
                    Play!
                </button>
                <a href="{{ path('stats_index') }}" role="button" class="btn btn-info btn-lg">Game Statistics</a>
            </div>
            <div ng-if="started" id="game-region" ng-cloak>
                <div id="countdown-region" class="text-center">
                    <span ng-if="count > 0" class="countdown" ng-bind="count"></span>
                </div>
                <form action="{{ path('turn') }}" method="post" role="form" name="gameForm" class="text-center">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-lg btn-default">
                            <input type="radio" name="choice" value="{{ constant('AppBundle\\Entity\\Round::ROCK') }}" autocomplete="off" title="Rock"> <i class="fa fa-hand-rock-o fa-lg"></i> <span class="sr-only">Rock</span>
                        </label>
                        <label class="btn btn-lg btn-default">
                            <input type="radio" name="choice" value="{{ constant('AppBundle\\Entity\\Round::PAPER') }}" autocomplete="off" title="Paper"> <i class="fa fa-hand-paper-o fa-lg"></i> <span class="sr-only">Paper</span>
                        </label>
                        <label class="btn btn-lg btn-default">
                            <input type="radio" name="choice" value="{{ constant('AppBundle\\Entity\\Round::SCISSORS') }}" autocomplete="off" title="Scissors"> <i class="fa fa-hand-scissors-o fa-lg"></i> <span class="sr-only">Scissors</span>
                        </label>
                        <label class="btn btn-lg btn-default">
                            <input type="radio" name="choice" value="{{ constant('AppBundle\\Entity\\Round::LIZARD') }}" autocomplete="off" title="Lizard"> <i class="fa fa-hand-lizard-o fa-lg"></i> <span class="sr-only">Lizard</span>
                        </label>
                        <label class="btn btn-lg btn-default">
                            <input type="radio" name="choice" value="{{ constant('AppBundle\\Entity\\Round::SPOCK') }}" autocomplete="off" title="Spock"> <i class="fa fa-hand-spock-o fa-lg"></i> <span class="sr-only">Spock</span>
                        </label>
                    </div>
                    <input type="hidden" name="_token" value="{{ _token }}">
                </form>
            </div>
        </div>
    </div>
{% endblock body %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/app/components/angular/angular-csp.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/app/components/bootstrap/dist/css/bootstrap.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/app/components/font-awesome/css/font-awesome.min.css") }}">
    <style type="text/css">
        #countdown-region {
            font-size: 48pt;
            font-style: italic;
            font-weight: bold;
            height: 2em;
            padding: 15px;
        }
    </style>
{% endblock stylesheets %}

{% block javascripts %}
    <script src="{{ asset("bundles/app/components/jquery/dist/jquery.min.js") }}"></script>
    <script src="{{ asset("bundles/app/components/bootstrap/dist/js/bootstrap.js") }}"></script>
    <script src="{{ asset("bundles/app/components/angular/angular.min.js") }}"></script>
    <script>
        angular
            .module('app', ['ng'])
            .controller('MainController', function($scope, $interval) {
                $scope.started = false;

                $scope.start = function() {
                    $scope.started = true;
                    $scope.count = 3;

                    // Countdown from 3
                    $interval(function() {
                        --$scope.count;

                        // Submit the choice when countdown complete
                        if ($scope.count == 0) {
                            gameForm.submit();
                        }
                    }, 1000, 4);
                }
            })
        ;
    </script>
{% endblock javascripts %}