{% extends "::base.html.twig" %}
{% import "@App/macros.html.twig" as game %}

{% block title -%}
    {% if round.win -%}
        You Win!
    {%- elseif round.tie -%}
        You Tie!
    {%- else -%}
        You Lose!
    {%- endif %}
     | Rock, Paper, Scissors, Lizard, Spock
{%- endblock title %}

{% block body %}
    <div class="container">
        <figure>
            <img src="{{ asset("bundles/app/images/Banner_10x3_sticker.png") }}" width="500" height="166" class="img-responsive center-block" alt="Rock Paper Scissors Lizard Spock">
        </figure>

        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">You</h3>
                    </div>
                    <div class="panel-body text-center">
                        {{ game.choice_icon(round.playerChoice, [ "fa-4x" ]) }}
                        <div class="caption">
                            {{ game.choice_name(round.playerChoice)|humanize }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 text-center">

                {% if round.win -%}
                    <p><i class="fa fa-5x fa-trophy"></i></p>
                    <p class="h3">You Win!</p>
                {%- elseif round.tie -%}
                    <p><i class="fa fa-5x fa-handshake-o"></i></p>
                    <p class="h3">You Tie!</p>
                {%- else -%}
                    <p><i class="fa fa-5x fa-thumbs-o-down"></i></p>
                    <p class="h3">You Lose!</p>
                {%- endif -%}

                <p class="h4">
                    {{ game.outcome(round.playerChoice, round.computerChoice) }}
                </p>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Computer</h3>
                    </div>
                    <div class="panel-body text-center">
                        {{ game.choice_icon(round.computerChoice, [ "fa-4x" ]) }}
                        <div class="caption">
                            {{ game.choice_name(round.computerChoice)|humanize }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="{{ path('homepage') }}" role="button" class="btn btn-success btn-lg">Play Again?</a>
            <a href="{{ path('stats_index') }}" role="button" class="btn btn-info btn-lg">Game Statistics</a>
        </div>
    </div>
{% endblock body %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/app/components/bootstrap/dist/css/bootstrap.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/app/components/font-awesome/css/font-awesome.min.css") }}">
{% endblock stylesheets %}
